#matches {

    width: 500;
    height: 120;
}

#left_div {

    float: left;
    width: 100%;
    padding-left: 80px;
}
.imgg {
    height: 80px;
}
#profil_image {
    width: 100;
    size: 100;
}
ul li{
    display: inline;
    padding-bottom: 15px;
}


#user_1 {
    position: absolute;
    top: 50;
    left: 130;
}

#user_2 {
    position: absolute;
    top: 150;
    left: 130;
}

#user_3 {
    position: absolute;
    top: 250;
    left: 130;
}

#accept {
    position: absolute;
    top: 45;
    left: 300;
}
tr{
    padding-bottom: 60px;
}
#reject {
    position: absolute;
    width: 60;
    height: 60;
    top: 45;
    left: 400;
}
