a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

#panel {
    font-size: 20;
    font-weight: bold;
}

#sign_out {
    position: absolute;
    top: 40;
    right: 10;
    height: 50;
}

ul li{
  display: inline;
}
body{
    font-family: 'Ubuntu';
    background: white;
    border: 1px gray;
    margin : 0;
}